.u-section-1 .u-sheet-1 {
  min-height: 561px;
}

.u-section-1 .u-blog-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 14.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 2749px;
  grid-gap: 22px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/440683505_1114811713062226_8438193428690856314_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-8 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-1 .u-text-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-5 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/440657489_759617682919570_1260239250934230363_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-10 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-1 .u-text-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-6 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/434338917_447087677990226_3798234188000156932_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-12 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-1 .u-text-13 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-7 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/424427808_760432399296366_8537047604671627583_n.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-text-14 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-1 .u-text-15 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-8 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/407980448_1056320565558202_8155134412790868152_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-16 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-1 .u-text-17 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-9 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/405512258_7810564682303234_7355611866701401022_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-18 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 20px;
}

.u-section-1 .u-text-19 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-10 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/404921521_310422221909048_5679090758767842444_n.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-20 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-1 .u-text-21 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-11 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/Screenshot2024-09-16at22.17.15.png");
  background-position: 50% 50%;
}

.u-section-1 .u-text-22 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 20px;
}

.u-section-1 .u-text-23 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-12 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/403873433_866604725125667_5766063937275860801_n.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-text-24 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-btn-12 {
  background-image: none;
  border-style: solid;
  margin: 17px auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 2259px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 956px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 3954px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 278px;
  }
}