 .u-section-1 {
  min-height: 1170px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 255px;
  margin: 16px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 129px 0;
}

.u-section-1 .u-text-3 {
  width: 320px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 120px auto 0;
}

.u-section-1 .u-shape-1 {
  height: 470px;
  background-image: none;
  margin-top: 126px;
  margin-bottom: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  width: 751px;
  margin: -576px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 301px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-image-1 {
  width: 180px;
  height: 180px;
  background-image: url("images/Screenshot2023-11-13at20.39.13.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 19px auto 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 11px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 20px;
}

.u-section-1 .u-image-2 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Screenshot2023-11-13at20.40.10.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 19px auto 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 11px auto 0;
}

.u-section-1 .u-list-2 {
  grid-template-rows: auto auto;
  width: 751px;
  margin: 40px auto 0;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 301px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-container-layout-3 {
  padding: 20px;
}

.u-section-1 .u-image-3 {
  width: 180px;
  height: 180px;
  background-image: url("images/Logopolympiadscarre.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-image-4 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Screenshot2023-11-13at20.38.37.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 968px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 43px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1656px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1879px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.23529rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 51px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 44px;
  }

  .u-section-1 .u-shape-1 {
    height: 1101px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-top: -1207px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.88235rem;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 458px;
}

.u-section-2 .u-text-1 {
  width: 320px;
  margin: 40px auto 0;
}

.u-section-2 .u-shape-1 {
  height: 235px;
  background-image: none;
  margin-top: 155px;
  margin-bottom: 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto auto;
  width: 751px;
  margin: -341px auto 48px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  min-height: 215px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-1 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Logopolympiadscarre.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 9px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/Logopolympiadscarre.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 9px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 177px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 732px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 407px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 50vw;
  }

  .u-section-2 .u-shape-1 {
    height: 427px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-top: -533px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.88235rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.88235rem;
  }
} .u-section-3 {
  min-height: 457px;
}

.u-section-3 .u-text-1 {
  width: 320px;
  margin: 40px auto 0;
}

.u-section-3 .u-shape-1 {
  height: 235px;
  background-image: none;
  margin-top: 155px;
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto;
  width: 751px;
  margin: -341px auto 39px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 215px;
  grid-auto-columns: calc(50% - 15px);
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-image-1 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Logopolympiadscarre.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 9px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px;
}

.u-section-3 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/Logopolympiadscarre.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 9px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    height: 233px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -339px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.88235rem;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.88235rem;
  }
} .u-section-4 {
  min-height: 457px;
}

.u-section-4 .u-text-1 {
  width: 320px;
  margin: 40px auto 0;
}

.u-section-4 .u-shape-1 {
  height: 235px;
  background-image: none;
  margin-top: 155px;
  margin-bottom: 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto auto;
  width: 751px;
  margin: -342px auto 40px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 300px;
  grid-auto-columns: calc(50% - 15px);
  grid-gap: 30px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .u-image-1 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Screenshot2023-11-13at20.39.23.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 9px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/Logopolympiadscarre.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 9px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 526px;
  }

  .u-section-4 .u-shape-1 {
    height: 418px;
    margin-top: 41px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 816px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
    margin-bottom: 0;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 880px;
  }

  .u-section-4 .u-shape-1 {
    height: 570px;
    margin-top: 160px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: -612px;
    margin-bottom: 40px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.88235rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.88235rem;
  }
} .u-section-5 {
  min-height: 453px;
}

.u-section-5 .u-text-1 {
  width: 320px;
  margin: 39px auto 0;
}

.u-section-5 .u-shape-1 {
  height: 235px;
  background-image: none;
  margin: 144px 0 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto auto;
  width: 751px;
  margin: -346px auto 33px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 319px;
  grid-auto-columns: calc(50% - 15px);
  grid-gap: 30px;
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-image-1 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Logopolympiadscarre.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 9px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/Screenshot2023-11-13at20.39.33.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-5 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 9px auto 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 482px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2)  + 310px);
    margin-right: calc(((100% - 940px) / 2)  + 310px);
  }

  .u-section-5 .u-shape-1 {
    height: 373px;
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2)  + 200px);
    margin-right: calc(((100% - 720px) / 2)  + 200px);
  }

  .u-section-5 .u-list-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-5 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2)  + 110px);
    margin-right: calc(((100% - 540px) / 2)  + 110px);
  }

  .u-section-5 .u-list-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 837px;
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2)  + 10px);
    margin-right: calc(((100% - 340px) / 2)  + 10px);
  }

  .u-section-5 .u-shape-1 {
    height: 728px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: -701px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.88235rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.88235rem;
  }
}.u-section-6 .u-shape-1 {
  height: 235px;
  background-image: none;
  margin-top: 176px;
  margin-bottom: 0;
}

.u-section-6 .u-list-1 {
  grid-template-rows: auto auto;
  width: 1141px;
  margin: -321px auto 60px;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 300px;
  grid-auto-columns: calc(33.3333% - 20px);
  grid-gap: 30px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px;
}

.u-section-6 .u-image-1 {
  width: 180px;
  height: 180px;
  object-position: 50% 0%;
  background-image: url("images/Screenshot2023-11-13at20.46.28.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 9px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-image-2 {
  width: 180px;
  height: 180px;
  background-image: url("images/Logopolympiadscarre.jpg");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-4 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 9px auto 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 20px;
}

.u-section-6 .u-image-3 {
  width: 180px;
  height: 180px;
  background-image: url("images/Screenshot2023-11-13at20.39.43.png");
  background-position: 50% 50%;
  margin: 8px auto 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 0;
}

.u-section-6 .u-text-6 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 3px;
  margin: 9px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    height: 342px;
    margin-top: 40px;
  }

  .u-section-6 .u-list-1 {
    width: 940px;
    margin-bottom: 61px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 244px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-shape-1 {
    height: 622px;
  }

  .u-section-6 .u-list-1 {
    width: 720px;
    margin-top: -601px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 604px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-shape-1 {
    height: 1002px;
  }

  .u-section-6 .u-list-1 {
    width: 540px;
    margin-top: -981px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-list-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}