.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  width: 235px;
  margin: 16px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 557px;
  width: 815px;
  margin: 16px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }
}