 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1668px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 218px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px 30px 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-1 {
  background-image: url("images/photo_2023-11-2401.51.32.jpeg");
  background-position: 50% 50%;
  min-height: 475px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 475px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 21px;
}

.u-section-1 .u-text-2 {
  margin: 12px 18px 0 0;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 50px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 578px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 39px 30px 0;
}

.u-section-1 .u-text-3 {
  margin: 68px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 347px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-text-4 {
  margin: 0 600px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1390px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-1 .u-image-1 {
    min-height: 392px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 392px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 477px;
  }

  .u-section-1 .u-layout-cell-5 {
    background-position: 50% 50%;
    min-height: 286px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 529px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1513px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 397px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1192px;
  }

  .u-section-1 .u-image-1 {
    min-height: 250px;
  }
}