 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/457412087_17911412003977569_6876139560790508298_n.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 258px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 40px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 450px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 943px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 96px auto 0;
}

.u-section-3 .u-list-1 {
  width: 500px;
  grid-template-rows: auto auto auto;
  margin: 38px 20px 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 570px;
  grid-gap: 24px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px 2px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -12px 382px 0 0;
}

.u-section-3 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -36px auto 0 103px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px 2px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -12px 382px 0 0;
}

.u-section-3 .u-text-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -36px auto 0 103px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px 2px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -12px 382px 0 0;
}

.u-section-3 .u-text-7 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -36px auto 0 103px;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px 2px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -12px 382px 0 0;
}

.u-section-3 .u-text-9 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -36px auto 0 103px;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px 2px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -12px 382px 0 0;
}

.u-section-3 .u-text-11 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -36px auto 0 103px;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 30px 2px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -12px 382px 0 0;
}

.u-section-3 .u-text-13 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -36px auto 0 103px;
}

.u-section-3 .u-group-elements-1 {
  width: 511px;
  min-height: 431px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: -500px auto 60px 59px;
}

.u-section-3 .u-image-1 {
  height: 385px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 100% 50%;
}

.u-section-3 .u-text-14 {
  margin: 17px auto 0 183px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1094px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 20px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 451px;
    margin-right: auto;
  }

  .u-section-3 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-3 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-3 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-3 .u-list-item-5 {
    background-size: auto;
  }

  .u-section-3 .u-list-item-6 {
    background-size: auto;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: -1001px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 417px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 417px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 417px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 417px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 417px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 417px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1217px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 532px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 632px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 3px;
    width: auto;
    margin-right: 278px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -27px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 3px;
    width: auto;
    margin-right: 278px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: -27px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 3px;
    width: auto;
    margin-right: 278px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: -27px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 3px;
    width: auto;
    margin-right: 278px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -27px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 3px;
    width: auto;
    margin-right: 278px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: -27px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 3px;
    width: auto;
    margin-right: 278px;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-top: -27px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 340px;
    margin-top: -1083px;
  }

  .u-section-3 .u-text-14 {
    width: auto;
    margin-left: auto;
    margin-bottom: -25px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 943px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 96px auto 0;
}

.u-section-4 .u-list-1 {
  width: 500px;
  grid-template-rows: auto auto auto;
  margin: 46px auto 0 33px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 24px 24px;
  min-height: 616px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 30px 15px;
}

.u-section-4 .u-text-2 {
  margin-top: -2px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-left: 0;
}

.u-section-4 .u-text-3 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -47px auto 0 103px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px 30px 15px;
}

.u-section-4 .u-text-4 {
  margin-top: -2px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-left: 0;
}

.u-section-4 .u-text-5 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -47px auto 18px 103px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 20px 30px 15px;
}

.u-section-4 .u-text-6 {
  margin-top: -2px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-left: 0;
}

.u-section-4 .u-text-7 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -47px auto 0 103px;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 20px 30px 15px;
}

.u-section-4 .u-text-8 {
  margin-top: -2px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-left: 0;
}

.u-section-4 .u-text-9 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -47px auto 0 103px;
}

.u-section-4 .u-list-item-5 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 20px 30px 15px;
}

.u-section-4 .u-text-10 {
  margin-top: -2px;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: none;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-left: 0;
}

.u-section-4 .u-text-11 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -47px auto 0 103px;
}

.u-section-4 .u-group-elements-1 {
  width: 511px;
  min-height: 427px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -544px 20px 60px auto;
}

.u-section-4 .u-image-1 {
  height: 385px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-text-12 {
  margin: 17px auto 0 183px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1276px;
  }

  .u-section-4 .u-text-1 {
    width: 206px;
    margin-top: 52px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 508px;
    margin-left: auto;
  }

  .u-section-4 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-4 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-4 .u-list-item-4 {
    background-size: auto;
  }

  .u-section-4 .u-list-item-5 {
    background-size: auto;
  }

  .u-section-4 .u-group-elements-1 {
    height: auto;
    margin-top: -1077px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1225px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 3px;
    width: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -27px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 3px;
    width: auto;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -27px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 3px;
    width: auto;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -27px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 3px;
    width: auto;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: -27px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 3px;
    width: auto;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: -27px;
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-left: auto;
    margin-bottom: -25px;
  }
}